body {
  font-family: Georgia, "Times New Roman", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: purple;
  text-decoration: underline;
}

.unordered-list {
  font-size: 16px;
  font-weight: 600;
}

.ordered-list {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.first-heading {
  color: aqua;
}

.second-heading {
  color: plum;
}

.second-heading.paragraph {
  color: black;
  font-size: 18px;
}

.third-heading {
  color: green;
}

.fourth-heading {
  color: chocolate;
  font-style: italic;
}
